.full-page {
    display: flex;
    flex-direction: row;
}

.hr {
    width: 100%  !important;
}
.ArticlesDetailContainer {
    width: 100%;
}
//------------------------------ Bloc article---------------------------------
.info-container {
    display: flex;
    justify-content: left;
}

.grid-container {
    align-items: center;
}


.card-positioning {
    background-color: white;
    
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5em;
}
//------------------------------- Bloc commentaires -------------------------------
.comment-blocks {
    //margin-left: 1em;
    //margin-right: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left-align {
    display:block !important;
}

.comment-block-1,
.comment-block-2 {
    width: 100%;
    display: flex;
}

.comment-block-1-title,
.comment-block-2-title {
    padding: 0;
}

.comment-block-1-content,
.comment-block-2-content {
    flex: 2;
}

.comment-block-1-content {
    padding: 0.2em 1em;
    border-radius: 20px;
    height: 7em;
    //margin-right: 20%;
    margin-bottom: 1em;
}

.comment-form {
    width: 90%; 
    margin-right: 1em;
}

.comment-form textarea {
    height: 4em;
}

.comment-separator {
    height: 1em;
}

.rotated-icon {
    transform: scale(1.5) rotate(-45deg);
    margin-left: 1em;
}

.comment-form-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}