.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 3em;
    
}
.left-button {
    margin-right: auto;
    margin-left: 1em;
}

.right-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    margin-left: auto;
    cursor: pointer;
}

.right-link .mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.date-article, .author-article {
    margin: 0;
}

.content-article {
    margin-top: 1em;
}
