.block1, .block2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container h3 {
    font-size: 16px;
    margin-bottom: 0em;
}

.logout-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    padding-top: 0em;
}

.link.logout-button {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.2em;
}
hr {
    width: 90%;
}
